body { background: #166339; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 10px; display: flex; }
.block-config-0 { color: #d2a08a; font-size: 15px; margin-bottom: 5px; }
.block-config-1 { color: #912717; font-size: 16px; margin-bottom: 5px; }
.block-cluster-2 { color: #e932db; font-size: 21px; margin-bottom: 5px; }
.block-cluster-3 { color: #8edd4; font-size: 19px; margin-bottom: 5px; }
.block-invoice-4 { color: #7d25d2; font-size: 16px; margin-bottom: 5px; }